@model Moola.Models.Income

@{
    ViewData["Title"] = "Details";
}

<div class="text-center mx-auto container">
    <h1 class="myHeader" style="margin-top: 50px">Income Details</h1>
    <div class="myDiv col-md-4 mx-auto">
        <dl class="row align-items-center">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Amount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Finance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Finance.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Note)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IncomeDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IncomeDate)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn myButton">Edit</a>
        <a asp-action="Incomes" class="btn myButton">Back to List</a>
    </div>
</div>
            
            
        

