@model Income

@{
    ViewData["Title"] = "Edit Income";
    var categories = Ctx.Categories.Where(c => c.Type == "Income").Select(c => new ValueTuple<int, string>(c.Id, c.Name)).ToList();
    var finance = Ctx.Finances.Select(f => new ValueTuple<int, string>(f.Id, f.Name)).ToList();
}

<div class="col-md-8 mx-auto text-center">
    <h2 class="myHeader">Edit Income</h2>
    <form class="myForm" asp-action="Edit" method="post">
        @Html.HiddenFor(income => income.Id)
        <div class="form-group">
            <label asp-for="Amount">Amount</label>
            <input asp-for="Amount" class="form-control" type="number" step="0.01" value="@Model.Amount.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Category</label>
            <select asp-for="CategoryId" class="form-select">
                @foreach (var c in categories)
                {
                    <option value="@c.Item1">@c.Item2</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FinanceId">Finance</label>
            <select asp-for="FinanceId" class="form-select">
                @foreach (var f in finance)
                {
                    <option value="@f.Item1">@f.Item2</option>
                }
            </select>
            <span asp-validation-for="FinanceId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Note">Note</label>
            <textarea asp-for="Note" class="form-control" rows="3">Note</textarea>
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IncomeDate">Date</label>
            <input asp-for="IncomeDate" class="form-control" type="date"/>
            <span asp-validation-for="IncomeDate" class="text-danger"></span>
        </div>
        <div class="btn-group" role="group">
            <button type="submit" class="btn myButton" style="margin-right:60px">Save</button>
        </div>
        <div class="btn-group" role="group">
            <a asp-action="Incomes" class="btn myButtonDanger">Cancel</a>
        </div>
    </form>
</div>
