@model Income

@{
    var incomes = Ctx.Incomes.Include(i => i.Category).Include(i => i.Finance).OrderByDescending(i => i.Id).ToList();
    ViewData["Title"] = "Incomes";
}

<h1>Incomes</h1>

<div class="btn-group" role="group">
    <a asp-action="Create" class="btn btn-success active">Add new Income</a>
</div>


<table class="table table-success table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
            <th scope="col">Account</th>
            <th scope="col">Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var income in incomes)
        {
            <tr>
                <td>@income.Amount</td>
                <td>@income.Category.Name</td>
                <td>@income.Finance.Name</td>
                <td>@income.IncomeDate.ToString("d")</td>
                <td>
                <td>
                    <a asp-action="Edit" asp-route-id="@income.Id">Edit ||  </a>
                    <a asp-action="Details" asp-route-id="@income.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@income.Id">Delete  ||  </a>
                </td>
            </tr>
        }
    </tbody>
</table>
