@model Income

@{
    var incomes10 = Ctx.Incomes.Include(i => i.Category).Include(i => i.Finance).OrderByDescending(i => i.IncomeDate).Take(10).ToList();
    ViewData["Title"] = "Incomes";
}

<div class="text-center">
    <h1 class="myHeader text-center">Incomes</h1>
    <hr style="border: 1px solid limegreen " />

    <table class="table table-hover myTable" style="margin-top:30px">
        <thead>
            <tr>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
                <th scope="col">Account</th>
                <th scope="col">Date</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var income in incomes10)
            {
                <tr>
                    <td>@income.Amount.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
                    <td>@income.Category.Name</td>
                    <td>@income.Finance.Name</td>
                    <td>@income.IncomeDate.ToString("d")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@income.Id" class="link">Edit</a>
                        <a asp-action="Details" asp-route-id="@income.Id" class="link">Details</a>
                        <a asp-action="Delete" asp-route-id="@income.Id" class="link">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="btn-group" role="group">
        <a asp-action="Create" class="btn myButtonBig active" style="margin-right:60px">Add new Income</a>        
    </div>
    <div class="btn-group" role="group">
        <a asp-action="SeeMore" class="btn myButtonBig active">See more</a>
    </div>
</div>