@model Income

@{
    ViewData["Title"] = "All Incomes";
    var incomes = Ctx.Incomes.Include(i => i.Category).Include(i => i.Finance).OrderByDescending(i => i.IncomeDate).ToList();
}

<div class="text-center">
    <table class="table table-hover myTable">
        <thead>
            <tr>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
                <th scope="col">Account</th>
                <th scope="col">Date</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var income in incomes)
            {
                <tr>
                    <td>@income.Amount.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
                    <td>@income.Category.Name</td>
                    <td>@income.Finance.Name</td>
                    <td>@income.IncomeDate.ToString("d")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@income.Id" class="link">Edit</a>
                        <a asp-action="Details" asp-route-id="@income.Id" class="link">Details</a>
                        <a asp-action="Delete" asp-route-id="@income.Id" class="link">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Incomes" class="btn myButton">Back</a>
</div>

