@model Expense

@{
    ViewData["Title"] = "Expenses";
    var expenses = Ctx.Expenses.Include(e=>e.Finance).Include(e=>e.Category).ToList();
}

<h1>Expenses</h1>

<p>
    <a asp-action="Create">Add Expense</a>
</p>
<table class="table table-success table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
            <th scope="col">Finance</th>
            <th scope="col">Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exp in expenses)
        {
            <tr>
                <td>@exp.Amount</td>
                <td>@exp.Category.Name</td>
                <td>@exp.Finance.Name</td>
                <td>@exp.ExpenseDate.ToString("d")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@exp.Id">Edit ||  </a>
                    <a asp-action="Delete" asp-route-id="@exp.Id">Delete  ||  </a>
                    <a asp-action="Details" asp-route-id="@exp.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
