@using Microsoft.EntityFrameworkCore;
@model Expense
@inject MyContext Ctx

@{
    ViewData["Title"] = "Expenses";
    var expenses = Ctx.Expenses.Include(e=>e.Account).Include(e=>e.Category).ToList();
}

<h1>Expenses</h1>

<p>
    <a asp-action="Create">Add Expense</a>
</p>
<table class="table table-success table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
            <th scope="col">Account</th>
            <th scope="col">Note</th>
            <th scope="col">Date</th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var exp in expenses)
        {
            <tr>
                <td>@exp.Amount</td>
                <td>@exp.Category.Name</td>
                <td>@exp.Account.AccountName</td>
                <td>@exp.Note</td>
                <td>@exp.ExpenseDate</td>
            </tr>
        }
    </tbody>
</table>
